pipeline/pl_sales_azuresql.json
{
	"name": "pl_sales_azuresql",
	"properties": {
		"activities": [
			{
				"name": "ACT_Copy_SalesFile_To_Staging",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "ACT_Truncate_Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "FileName",
								"value": "$$FILEPATH"
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "SaleID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SaleID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "OrderDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OrderDate",
									"type": "Date",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "CustomerName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CustomerName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ProductName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Quantity",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Quantity",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "UnitPrice",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "UnitPrice",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "City",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "City",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FileName",
									"type": "String"
								},
								"sink": {
									"name": "SourceFileName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedText2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sql_sales_stgtable",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ACT_Load_Staging_To_Sales",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "ACT_Copy_SalesFile_To_Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_Load_Sales_From_Staging]"
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_sales",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_Insert_Load_Log",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "ACT_Load_Staging_To_Sales",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_InsertFileLoadLog]"
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_sales",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_Truncate_Staging",
				"type": "Script",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_sql_sales",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "TRUNCATE TABLE dbo.Sales_Staging"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_blob_out",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "sales_20260404.csv"
						}
					},
					"fieldList": [
						"childItems",
						"itemName",
						"itemType",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Insert data into stg_sales table",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Truncate_table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "FileName",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Info",
										"enableReliableLogging": true
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "ls_blob_output",
											"type": "LinkedServiceReference"
										},
										"path": "logs"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "SaleID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SaleID",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "OrderDate",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OrderDate",
												"type": "Date",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "CustomerName",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CustomerName",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "ProductName",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ProductName",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Quantity",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Quantity",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "UnitPrice",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "UnitPrice",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 18
											}
										},
										{
											"source": {
												"name": "City",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "City",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "FileName",
												"type": "String"
											},
											"sink": {
												"name": "SourceFileName",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_blob_out",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sql_sales_stgtable",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Insert sales table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Insert data into stg_sales table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_Load_Sales_From_Staging]"
							},
							"linkedServiceName": {
								"referenceName": "ls_sql_sales",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "insert log table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Insert sales table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_InsertFileLoadLog]"
							},
							"linkedServiceName": {
								"referenceName": "ls_sql_sales",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Truncate_table",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_sql_sales",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "Truncate table dbo.Sales_Staging"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "ACT_archieve_Files",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "insert log table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_blob_out",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_archieve",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Delete1",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "ACT_archieve_Files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_blob_out",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "ls_blob_output",
										"type": "LinkedServiceReference"
									},
									"path": "logs"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-04-04T16:00:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}